.contacts {
    padding: 20px 0;
}

.contacts__body {
    display: flex;
}

.contacts__map {
    padding: 10px;
}

.contacts__info {
    padding: 10px;
}

.contacts__sub-title {
    text-align: left;
}

.contacts__text {
    text-align: left;
}

@media (max-width: 767px) {
    .contacts__body {
        align-items: center;
        flex-direction: column;
    }
}