.description {
    margin: 100px 0 20px 0;
}

.description__text {
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
    border-top: 1px double #d9bfbf;
    border-bottom: 1px double #d9bfbf;
}